<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>餐點自動補全</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <link rel="stylesheet" href="./autocomplete.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="hero">
        <div class="navbar">
          <h1>MovieDay</h1>
          <div class="navlinks">
            <a>線上訂票</a>
            <a>電影介紹</a>
            <a>最新消息</a>
            <a>關於影城</a>
          </div>
        </div>
      </div>

      <!-- ======================================currentSession Start==============================================-->
      <div v-if="currentPage === 'session'" class="session-section">
        <div class="section-title">
          <div class="title-en">
            <span class="red-dot"></span>
            <span>SESSION TIMES</span>
          </div>
          <div class="title-zh">場次資訊</div>
        </div>
        <div class="session-card" v-for="session in sessions" :key="session.id">
          <div class="card-content">
            <!-- 左邊:電影海報 -->
            <div class="poster-area">
              <img :src="session.poster" class="movie-poster" />
            </div>
            <!--中間: 電影資訊 -->
            <div class="movie-info">
              <div class="rating-badge" :class="getRatingClass(session.rating)">
                {{ session.rating }}
              </div>
              <h2>{{ session.movieName }}</h2>
              <p>{{ session.englishName }}</p>
              <p>上映日期：{{ session.date }}</p>
              <p>導演：{{ session.director }}</p>
              <p>片長：{{ session.duration }}</p>
              <!-- <p>分級：{{ session.rating }}</p> -->
              <p>影城: {{ session.cinema}}</p>
              <p>{{ session.language }}</p>
            </div>
            <!-- 右邊:場次 -->
            <div class="time-area">
              <div
                class="format-block"
                v-for="format in session.formats"
                :key="format.language"
              >
                <p class="language-text">{{ format.language }}</p>
                <button
                  class="time-btn"
                  v-for="time in format.times"
                  :key="time"
                  @click="selectSession(session,format,time)"
                >
                  {{ time }}
                </button>
              </div>
              <div class="preview-actions">
                <button class="preview-btn" @click="openSeatPreview">
                  QUICK VIEW<br />
                  預覽座位
                </button>
                <button class="buy-btn" @click="goTicketStep(session)">
                  BUY TICKET<br />
                  前往訂票
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===================================== currentSession End ============================================== -->
      <div v-if="currentPage === 'booking'">
        <!--公用StepBar-->
        <!-- ===================================================================================================== -->
        <div class="step-bar" v-if="currentPage === 'booking'">
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 1, completed: currentStep > 1 }"
          >
            <span>{{ currentStep > 1 ? "✓" : "1" }}</span>
            <p>選擇票種</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 2, completed: currentStep > 2 }"
          >
            <span>{{ currentStep > 2 ? "✓" : "2" }}</span>
            <p>選擇座位</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 3, completed: currentStep > 3 }"
          >
            <span>{{ currentStep > 3 ? "✓" : "3" }}</span>
            <p>訂單與付款</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 4, completed: currentStep > 4 }"
          >
            <span>{{ currentStep > 4 ? "✓" : "4" }}</span>
            <p>訂單完成</p>
          </div>
        </div>
        <!-- ===================================================================================================== -->
        <div class="section-titleⅡ">
          <div class="title-enⅡ">
            <span class="orange-dotⅡ"></span>
            <span>ONLINE TICKET</span>
          </div>
          <div class="title-zhⅡ">選擇票種</div>
        </div>
        <!--公用BookingTop-->
        <div class="booking-top">
          <div class="booking-poster-area">
            <img :src="bookingInfo.poster" class="booking-poster" />
          </div>

          <div class="booking-info-area">
            <div class="movie-title-block">
              <h2>{{ bookingInfo.movieName}}</h2>
              <p>{{ bookingInfo.englishName }}</p>
            </div>
            <div class="booking-detail-grid">
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <span>影城: {{ bookingInfo.cinema }}</span>
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>
                <span
                  >日期：{{ bookingInfo.date }} {{ bookingInfo.weekday }}</span
                >
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-video"></i>
                </span>
                <span class="time-tag">{{ bookingInfo.time }}</span>
                <span>{{ bookingInfo.language }}</span>
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span v-if="selectedSeats.length === 0">請先選擇座位</span>
                <span v-else>{{ selectSeatText }}</span>
              </div>
            </div>
          </div>

          <div class="order-summary">
            <div class="summary-detail-item">
              <span class="summary-icon">
                <i class="fa-solid fa-ticket-simple"></i>
              </span>
              <span>ORDER SUMMARY</span>
            </div>

            <div class="summary-list">
              <div
                class="summary-row"
                v-for="ticket in selectTickets"
                :key="ticket.name"
              >
                <span>{{ ticket.name }}</span>
                <span>X</span>
                <span>{{ ticket.count }}</span>
                <span>=</span>
                <span>NT$ {{ ticket.price * ticket.count }}</span>
              </div>

              <div class="summary-ticket-row" v-if="totalTicketCount > 0">
                <span>網路訂票手續費</span>
                <span>X</span>
                <span>{{ totalTicketCount }}</span>
                <span>=</span>
                <span>NT$ {{ serviceFee }}</span>
              </div>
            </div>

            <div class="summary-total">
              <span>TICKETS TOTAL :</span>
              <span>NT$ {{ finalTotalPrice }}</span>
            </div>
          </div>
        </div>
        <!-- ======================================currentStep1 S===================================================-->
        <div v-if="currentStep === 1" class="ticket-session">
          <div class="ticket-layout">
            <div class="section-titleⅢ">
              <div class="title-enⅢ">
                <span class="blue-dotⅢ"></span>
                <span>CHOOSE YOUR TICKET</span>
              </div>
              <div class="title-zhⅢ">請選擇票種與張數</div>
            </div>

            <div class="ticket-select-area">
              <div class="ticket-left">
                <div class="ticket-category">
                  <!-- 藍色 -->
                  <div class="ticket-headerⅠ">
                    <i class="fa-solid fa-ticket"></i>
                    優惠套票
                  </div>
                  <!-- 灰色 -->
                  <div class="ticket-table">
                    <!-- 深灰 -->
                    <div class="ticket-table-head">
                      <span>票種</span>
                      <span>單價</span>
                      <span>數量</span>
                      <span>小計</span>
                    </div>

                    <div
                      class="ticket-row"
                      v-for="ticket in packageTicket"
                      :key="ticket.name"
                    >
                      <span class="ticket-name">{{ ticket.name }}</span>
                      <span class="ticket-price">NT$ {{ ticket.price }}</span>
                      <button
                        class="ticket-btn"
                        @click="decreaseTicket(ticket)"
                      >
                        －
                      </button>
                      <span class="ticket-count">{{ ticket.count }}</span>
                      <button
                        class="ticket-btn-plus"
                        @click="increaseTicket(ticket)"
                      >
                        ＋
                      </button>
                      <span class="ticket-subtotal"
                        >NT$ {{ ticket.price * ticket.count}}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="ticket-category">
                  <!-- 藍色 -->
                  <div class="ticket-header">
                    <i class="fa-solid fa-ticket"></i>
                    一般票種
                  </div>
                  <!-- 灰色 -->
                  <div class="ticket-table">
                    <!-- 深灰 -->
                    <div class="ticket-table-head">
                      <span>票種</span>
                      <span>單價</span>
                      <span>數量</span>
                      <span>小計</span>
                    </div>

                    <div
                      class="ticket-row"
                      v-for="ticket in tickets"
                      :key="ticket.name"
                    >
                      <span class="ticket-name">{{ ticket.name }}</span>
                      <span class="ticket-price">NT$ {{ ticket.price }}</span>
                      <button
                        class="ticket-btn"
                        @click="decreaseTicket(ticket)"
                      >
                        －
                      </button>
                      <span class="ticket-count">{{ ticket.count }}</span>
                      <button
                        class="ticket-btn-plus"
                        @click="increaseTicket(ticket)"
                      >
                        ＋
                      </button>
                      <span class="ticket-subtotal"
                        >NT$ {{ ticket.price * ticket.count}}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="ticket-notice">
                <div class="notice-title">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>

                <ol class="notice-list">
                  <li>未滿 2 歲且不佔位之兒童無需購票，可免費入場觀賞。</li>
                  <li>
                    若交易內含餐飲品項，須至購票影城櫃檯領取電影票與餐點。
                  </li>
                  <li>網路訂票每張票需加收 NT$20 手續費。</li>
                  <li>片長 150 分鐘以上之電影需加價 NT$20。</li>
                  <li>
                    為維護顧客權益，惡意佔位或影響他人正常訂位使用者，影城保有取消訂位之權利。
                  </li>
                </ol>
              </div>
            </div>
            <div class="ticket-actions">
              <button class="back-btn" @click="currentPage = 'session'">
                ← BACK
              </button>

              <button class="next-btn" @click="goSeatStep">NEXT →</button>
            </div>
          </div>
          <!-- ======================================currentStep1 E===================================================-->
        </div>
        <!-- ======================================currentStep2 S====================================================== -->
        <div v-if="currentStep === 2" class="ticket-session">
          <div class="seat-header">
            <div class="section-titleⅢ">
              <div class="title-enⅢ">
                <span class="blue-dotⅢ"></span>
                <span>SELECT SEATS</span>
              </div>
              <div class="title-zhⅢ">請選擇座位</div>
            </div>
            <div class="remaining-seat-box">
              <i class="fa-regular fa-circle-check"></i>
              <span class="remaining-label">待選座位數</span>
              <span class="remaining-count"> {{ remainingSeatCount }} </span>
              <span class="remaining-unit">位</span>
            </div>
          </div>
          <div class="seat-map-container">
            <div class="legend">
              <div><span class="legend-box selected-box"></span>您的座位</div>
              <div><span class="legend-box available-box"></span>可選</div>
              <div>
                <span class="legend-box wheelchair-box">♿</span
                >輪椅座(需至影城購買)
              </div>
              <div><span class="legend-box sold-box"></span>已售</div>
            </div>
            <!-- ⭐ 銀幕 -->
            <div class="screen">銀幕 Screen</div>

            <div class="booking-layout">
              <!-- ⭐ 座位區 -->
              <div class="seat-map">
                <div class="seat-row" v-for="row in seatRows" :key="row">
                  <div class="row-label">{{ row }}</div>

                  <div
                    class="seat"
                    v-for="seat in getSeatsByRow(row)"
                    :key="seat.id"
                    :class="[
                  seat.status,
                  { aisleAfter4: seat.number === 4, aisleAfter16: seat.number === 16 }
                ]"
                    @click="clickSeat(seat)"
                  >
                    <span v-if="seat.status === 'wheelchair'">♿</span>
                    <span v-else>{{ seat.number }}</span>
                  </div>

                  <div class="row-label">{{ row }}</div>
                </div>
              </div>
            </div>
            <div class="ticket-actions">
              <button class="back-btn" @click="currentStep = 1">← BACK</button>

              <button class="next-btn" @click="goFoodStep">NEXT →</button>
            </div>
          </div>
          <!-- ======================================currentStep2 E======================================================== -->
        </div>
        <!-- ========================================currentStep3 S========================================================= -->

        <div v-if="currentStep === 3" class="checkout-section">
          <div class="section-titleⅢ">
            <div class="title-enⅢ">
              <span class="blue-dotⅢ"></span>
              <span>CHECK INFORMATION</span>
            </div>
            <div class="title-zhⅢ">請確認購票人資訊</div>
          </div>
          <div class="checkout-form">
            <h3>請確認購票資訊:</h3>

            <div class="form-row">
              <div class="form-group">
                <label>會員姓名</label>
                <input type="text" v-model="buyer.name" />
              </div>

              <div class="form-group">
                <label>手機號碼</label>
                <input type="text" v-model="buyer.phone" />
              </div>

              <div class="form-group">
                <label>電子信箱</label>
                <input type="text" v-model="buyer.email" />
              </div>
            </div>
            <h3>請選擇電子發票開立方式:</h3>
            <p class="invoice-note">
              <i class="fa-solid fa-circle-info"></i>
              電影票票價內含娛樂稅，不另開統一發票。訂單含餐點之套餐，餐點部分統一發票將由影城於取票時一併交付；平台手續費將另行開立電子發票。
            </p>

            <div class="form-row invoice-row">
              <div class="form-group">
                <label>電子發票處理方式</label>
                <select v-model="invoice.type">
                  <option value="cloud">雲端發票</option>
                  <option value="company">公司統編</option>
                </select>
              </div>

              <div class="form-group" v-if="invoice.type === 'cloud'">
                <label>請選擇載具類型</label>
                <select v-model="invoice.carrier">
                  <option value="member">
                    會員載具(中獎發票將寄至電子信箱)
                  </option>
                  <option value="mobile">手機條碼</option>
                </select>
              </div>
              <div
                class="form-group"
                v-if="invoice.type === 'cloud' && invoice.carrier === 'mobile'"
              >
                <label>請輸入您的手機條碼</label>
                <input
                  type="text"
                  v-model="invoice.mobileBarcode"
                  placeholder="/+7個字元"
                />
              </div>

              <div class="form-group" v-if="invoice.type === 'company'">
                <label>發票抬頭</label>
                <input
                  type="text"
                  v-model="invoice.companyName"
                  placeholder="公司抬頭名稱"
                />
              </div>
              <div class="form-group" v-if="invoice.type === 'company'">
                <label>統一編號</label>
                <input
                  type="text"
                  v-model="invoice.companyTaxId"
                  placeholder="統一編號"
                />
              </div>
            </div>
            <label class="agree-row">
              <input type="checkbox" v-model="agreeTerms" />
              <span>我已經閱讀並同意 線上訂票須知 及 電影分級制度說明</span>
            </label>
            <div class="ticket-actions">
              <button class="back-btn" @click="currentStep = 2">← BACK</button>

              <button class="next-btn" @click="checkoutOrder">CHECKOUT</button>
            </div>
          </div>

          <!-- <div class="box" ref="searchBox">
            <input
              type="text"
              v-model="keyword"
              @input="search"
              placeholder="請輸入餐點名稱"
              style="width: 100%; padding: 8px"
            />
            <div class="list" v-if="showList && results.length > 0">
              <div
                class="item"
                v-for="item in results"
                :key="item.id"
                @click="select(item)"
              >
                <div class="food-name">{{ item.name }}</div>
                <div class="food-category">{{ item.category }}</div>
                <div class="food-description">{{ item.description }}</div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- ===========================================currentStep3 E=========================================================== -->
        <!-- ===========================================currentStep4 S=========================================================== -->
        <div v-if="currentStep === 4" class="checkout-section"></div>
        <div class="payment-card">
          <div class="section-titleⅢ">
            <div class="title-enⅢ">
              <span class="blue-dotⅢ"></span>
              <span>PAYMENT INFORMATION</span>
            </div>
            <div class="title-zhⅢ">付款資訊</div>
          </div>
          <div class="payment-content"></div>
        </div>
        <!-- ===========================================currentStep4 E=========================================================== -->
        <!-- ===========================================modal-overlay S=========================================================== -->
        <div v-if="showModal" class="modal-overlay">
          <div class="modal-box">
            <div class="modal-icon" :class="modalType">
              {{ modalType === 'success' ? '✓' : '✖' }}
            </div>
            <h2>提醒您</h2>
            <p>{{ modalMessage }}</p>
            <button class="modal-btn" @click="closeModal">OK</button>
          </div>
        </div>
      </div>
      <!-- ===========================================modal-overlay E=========================================================== -->
      <!-- ======================================先讓 Modal 能跳出來 S=========================================================== -->
      <div v-if="showSeatPreview" class="seat-preview-overlay">
        <div class="seat-preview-box">
          <div class="section-titleⅠ">
            <div class="title-enⅠ">
              <span class="blue-dotⅠ"></span>
              <span>QUICK VIEW</span>
            </div>
            <div class="title-zhⅠ">座位預覽</div>
          </div>

          <div class="legend">
            <div><span class="legend-box available-box"></span>可選</div>
            <div>
              <span class="legend-box wheelchair-box">♿</span
              >輪椅座(需至影城購買)
            </div>
            <div><span class="legend-box sold-box"></span>已售</div>
          </div>
          <!-- ⭐ 銀幕 -->
          <div class="screen">銀幕 Screen</div>
          <div class="seat-map preview-seat-map">
            <div class="seat-row" v-for="row in seatRows" :key="row">
              <div class="row-label">{{ row }}</div>

              <div
                class="seat"
                v-for="seat in getSeatsByRow(row)"
                :key="seat.id"
                :class="[
                  seat.status,
                  { aisleAfter4: seat.number === 4, aisleAfter16: seat.number === 16 }
                ]"
              >
                <span v-if="seat.status === 'wheelchair'">♿</span>
                <span v-else>{{ seat.number }}</span>
              </div>

              <div class="row-label">{{ row }}</div>
            </div>
          </div>

          <button class="modal-btn" @click="closeSeatPreview">關閉</button>
        </div>
      </div>

      <!-- ======================================先讓 Modal 能跳出來 E============================================ -->
    </div>
    <script src="./autocomplete.js"></script>
  </body>
</html>
