       body {
        margin: 0;
        padding: 0;
        font-family: Arial, "Microsoft JhengHei", sans-serif;
        background: #252525;
       
      }
      .box {
        width: 420px;
        position: relative;
        margin: 0 auto;
      }
      input {
        width: 100%;
        padding: 12px 14px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
      }

      input:focus {
        border-color: #4a90e2;
        box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
      }
      .list {
        position: absolute;
        width: 100%;
        border: 1px solid #ddd;
        background: #fff;
        max-height: 260px;
        overflow-y: auto;
        border-radius: 10px;
        margin-top: 6px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        z-index: 10;
      }
      .item {
        padding: 12px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
      }
      .item:hover {
        background: #eef6ff;
      }
      .food-name {
        font-weight: bold;
        font-size: 16px;
      }
      .food-category {
        font-size: 13px;
        margin-top: 4px;
      }

      /* Modal 背景 */

      .modal-overlay {
      /*  */
        position: fixed;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.5);

        display: flex;

        justify-content: center;
        align-items: center;

        z-index: 999;
      }

      /* Modal 本體 */

      .modal-box {

        width: 420px;

        background: white;

        border-radius: 20px;

        padding: 40px;

        text-align: center;

        box-shadow: 0 10px 30px rgba(0,0,0,0.3);
      }

      /* X icon */

      .modal-icon {

        font-size: 60px;

        color: #ff6b6b;

        margin-bottom: 20px;
      }

      .modal-box h2 {

        font-size: 36px;

        margin-bottom: 20px;
      }

      .modal-box p {

        font-size: 22px;

        color: #666;

        margin-bottom: 30px;
      }

      .modal-btn {

        padding: 12px 40px;

        border: none;

        border-radius: 10px;

        background: #4a90e2;

        color: white;

        font-size: 20px;

        cursor: pointer;
      }

      .modal-btn:hover {

        background: #357bd8;
      }

      .selected-info {
        width: 900px;
        margin: 20px auto;
        padding: 16px;
        background-color: white;
        border-radius: 15px;
        text-align: center;
      }

      .booking-layout {
        width: 1500px;
        margin: 30px auto;
        display: flex;
        gap: 30px;
        align-items: flex-start;
      }
      .cart-panel h3 {
        text-align: center;
        margin-bottom: 5px;
      }
      .modal-box p {
        white-space: pre-line;
      }
      .modal-icon.success {
        color: #2ecc71;
      }
      .modal-icon.error {
        color: #e74c3c;
      }
      .history-btn {
        display: block;
        width: 220px;
        margin: 30px auto 20px;
        background: #4a90e2;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      .hero {
        height: 320px;
        width: 100%;
        background-image:linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(35,35,35,1)),url("./images/cinema-bg.jpg");
        background-size: cover;
        background-position: center;
      }
      .navbar {
        height: 90px;
        display: flex;
        align-items: center;
        padding: 0 120px;
        color: white;
      }
      .navbar h1 {
        margin-right: 80px;
        font-size: 64px;
      }
      .navlinks a {
        margin-right:50px;
        color: white;
        font-weight: bold;       
        cursor: pointer;
      }
      .order-list {
        width: 900px;
        color :#eef6ff;
        margin: 30px 10px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.12);
        padding: 8px;
        color: black;
      }
      .history-table {
        width: 100%;
        border-collapse: collapse;
      }
      .history-table th {
        background: #4a90e2;
        color: white;
        padding: 12px;
      }

      .history-table td {
        padding: 12px;
        text-align: center;
        color: black;
        border-bottom: 1px solid #ddd;
      }

      .history-table tr:hover {
        background: #f5f7fb;
      }
      /* =================================================================Step Start=========================================================== */
      .step-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      .step-item {
        width: 120px;
        text-align: center;
      }
      .step-item span {
        width: 45px;
        height: 45px;
        border: 1px solid #777;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        font-weight: bold;
      }
      .step-item p {
        margin-top: 2px;
        font-weight: bold;
      }

      .step-item.active span {
        background: #ffc61a;
        color: black;
        border-color: #ffd000;
      }

      .step-item.completed span {
        background: #ffc61a;
        border-color: #ffd000;
        color: black;
      }

      .step-item.active p {
        color: #ffd000;
      }

      .step-line {
        width: 120px;
        height: 1px;
        background: #777;
      }
      /* ===============================================================  Step END ============================================================*/
      
      /* ==============================================  場次資訊 Start ======================================================================= */
      .session-section {
        width:90%;
        max-width: 1500px;
        margin: 60px auto;
      }
      .section-title {
        margin-bottom: 35px;

      }
      .title-en {
        display: flex;
        align-items: center;
        gap:10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .red-dot {
        width: 6px;
        height: 6px;
        background: #e53935;
        border-radius: 50%;
        display: inline-block;
      }
      .title-zh {
        margin-left: 16px;
        margin-top: 8px;
        color: #e53935;
        font-size: 24px;
        font-weight: bold;
      }
      .session-card {
        background: #252525;
        border-radius: 12px;
        padding: 35px;
        margin: 30px;
      }
      .card-content {
        display: flex;
        gap: 40px;
        align-items: flex-start;
      }

      .poster-area {
        width: 260px;
        flex-shrink: 0;
      }

      .movie-poster {
        width: 260px;
        height: 390px;
        object-fit: cover;
        object-position: left;
        border-radius: 8px;
      }

      .movie-info {
        width: 330px;
        color: white;
        flex-shrink: 0;
      }
      .movie-info h2 {
        color: #3696f6;
        margin-top: 0;
      }
      .time-area {
        width: 480px;
        color: white;
      }

      .language-text {
        font-weight: bold;
        margin-bottom: 20px;
      }

      .time-btn {
        width: 100px;
        height: 44px;
        margin: 8px;
        background: transparent;
        color: white;
        border: 1px solid #aaa;
        border-radius: 6px;
        cursor: pointer;
      }

      .time-btn:hover {
        border-color: #ffd000;
        color: #ffd000;
      }
      .rating-badge {
        display: inline-block;
        color: #000;
        font-weight:bold;
        padding:8px 18px;
        border-radius:2px;
        margin-bottom:8px;
      }
      .rating-g {
        background: #82c341;
      }
      .rating-p {
        background: #4ea6ff;
      }
      .rating-p12 {
        background: #ff9800;
      }
      .rating-p15 {
        background: #ff5722;
      }
      .rating-r {
        background: #d32f2f;
        color: white;
      }

      /* ==============================================  場次資訊 End ========================================================================= */
      /* ==============================================  currentStep1 S ====================================================================== */
      .section-titleⅡ {
        margin-top: 100px;
        margin-bottom: 35px;
        margin-left: 200px;
      }
      .title-enⅡ {
        display: flex;
        align-items: center;
        gap:10px;
        color: white;
        font-size: 15px;
        font-weight: bold;
      }
      .orange-dotⅡ {
        width: 6px;
        height: 6px;
        background: rgb(211, 78, 6);
        border-radius: 50%;
        display: inline-block;
      }
      .title-zhⅡ {
        margin-left: 16px;
        margin-top: 8px;
        color: rgb(211, 78, 6);
        font-size: 20px;
        font-weight: bold;
      }
      
      .summary-detail-item {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: #7A6A56;
        font-size: 17px;
        white-space: nowrap;
      }
      .summary-icon {
        font-size: 25px;
        width: 24px;
        color: #7A6A56;
        text-align: center;
        flex-shrink: 0;
      }
      .movie-title-block {
        text-align: center;
        margin-bottom: 45px;
      }
      .movie-title-block h2 {
        margin: 0 0 8px;
        font-size: 26px
      }
      .movie-title-block p {

        color: #aaa;
      }
      .booking-info-area h2 {
        margin-top: 0;
        font-size: 20px;
        color: white;
      }
      .booking-info-area > p {
        font-size: 13px;
        color: #aaa;
        margin-bottom: 40px;
      }
      .booking-detail-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 32px;
        column-gap: 60px;
      }
      .booking-detail-item {
        display: flex;
        align-items: center;
        gap: 12px;
        color: white;
        font-size: 17px;
        white-space: nowrap;
      }
      .detail-icon {
        font-size: 25px;
        width: 24px;
        color: rgb(211, 78, 6);
        text-align: center;
        flex-shrink: 0;
      }
      .time-tag {
        display: inline-block;
        padding: 6px 14px;
        background: #111;
        border: 1px solid #444;
        border-radius: 4px;
      }
      .booking-top {
        display: grid;
        grid-template-columns: 200px 1fr 420px;
        width: 70%;
        max-width: 1100px;
        margin: 40px auto;
        background: #181818;
        border-radius: 10px;
        overflow: hidden;
      }
      .booking-poster-area {
         width: 260px;
      }
      .booking-poster {
        width: 200px;
        height: 280px;
        object-fit: cover;
        object-position: left;
      }
      .booking-info-area {
        padding: 30px 50px;
        color: white;
        border-right: 3px dashed #333;
      }
      .order-summary {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 30px;
        color:white;
      }
      .summary-row {
        display: flex;
        align-items: center;
        gap: 12px;
        color: white;
        font-size: 15px;
        margin-bottom: 25px;
      }
      .section-titleⅢ {
        margin-top: 150px;
        margin-left: 200px;
        margin-bottom: 70px;

      }
      .title-enⅢ {
        display: flex;
        align-items: center;
        gap:10px;
        color: white;
        font-size: 15px;
        font-weight: bold;
      }
      .blue-dotⅢ {
        width: 6px;
        height: 6px;
        background: #4D95D6;
        border-radius: 50%;
        display: inline-block;
      }
      .title-zhⅢ {
        margin-left: 16px;
        margin-top: 8px;
        color: #4D95D6;
        font-size: 20px;
        font-weight: bold;
      }
      .ticket-category {
        max-width: none;
        /* 上右下左 */
        margin: 0 0 32px 0;
        color: white;
        flex-shrink: 0;
      }
      .ticket-table {
        background: #d0d0d0;
        padding: 16px;
      }
      .ticket-row {
        display: grid;
        grid-template-columns: 160px 120px 40px 40px 40px 120px;
        align-items: center;
        column-gap: 12px;
        margin-bottom: 18px;
        color: #111;
      }
      .ticket-name {
        color: #e53935;
        font-weight: bold;
      }
      .ticket-price,
      .ticket-subtotal {
        color: #e53935
      }
      .ticket-btn {
        width: 32px;
        height: 32px;
        border: 1px solid #777;
        border-radius: 50%;
        background: transparent;
        cursor: pointer;
        font-size: 18px;
      }
      .ticket-btn-plus {
        color:#e53935;
        width: 32px;
        height: 32px;
        border: 1px solid #777;
        background: transparent;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
      }
      .ticket-count {
        text-align:center;
        font-weight: bold;
      }
      .ticket-header {
        height: 35px;
        background: #1773b6;
        color:white;
        display: flex;
        align-items: center;
        padding: 0 18px;
        font-size: 18px;
        font-weight: bold;
      }
      .ticket-headerⅠ {
        height: 35px;
        background: rgb(80, 128, 164);
        color:white;
        display: flex;
        align-items: center;
        padding: 0 18px;
        font-size: 18px;
        font-weight: bold;
      }
      .ticket-table-head {
        height: 28px;
        background: #8b8b8b;
        color: white;
        display: grid;
        grid-template-columns: 170px 170px 120px 70px;
        align-items: center;
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .ticket-table-head span:first-child{
        margin-left: -5px;
      }
      .ticket-select-area {
        width: 70%;
        max-width: 1100px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: 620px 1fr;
        gap:40px;
        align-items: start;

      }
      .ticket-left {
        width: 100%;
      }
      .ticket-notice {
        border: 1px solid #666;
        border-radius: 8px;
        padding: 32px 36px;
        color: white;
        min-height: 260px;
      }
      .notice-title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .notice-title i {
        color: white;
        font-size: 24px;
      }
      .notice-list {
        margin: 0;
        padding-left: 22px;
        line-height: 1.8;
        font-size: 15px;
      }
      .ticket-actions {
        width: 70%;
        max-width: 1100px;
        margin: 50px auto 80px;
        display: flex;
        justify-content: center;
        gap: 24px;
      }
      .back-btn,
      .next-btn {
        width: 180px;
        height: 52px;
        border: none;
        border-radius: 6px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
      }
      .back-btn {
        background: #5f76b8;
        color: #111;
      }

      .next-btn {
        background: #f29a84;
        color: #111;
      }
      .summary-list {
        margin-bottom: 22px;
      }
      .summary-ticket-row {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 8px;
      }
      .summary-ticket-row span:last-child {
        text-align: right;
      }
      /* .summary-total {
        margin-top: 20px;
        padding: 10px 20px;
        background: #4a4a4a;
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: 18px;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
      } */
      .summary-total {
        width: 60%;
        padding: 3px 5px;
        background: #4a4a4a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: bold;
      }
      /* ==============================================  currentStep1 E ====================================================================== */
      /* =================================================================Step2 S=========================================================== */
      .screen {
        width: 750px;
        margin: 40px auto;
        padding: 8px;
        background: white;
        border: 3px solid #222;
        border-radius: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
      }
      .legend {
        color: white;
        width: 700px;

        margin: 20px auto;

        display: flex;

        justify-content: center;

        gap: 30px;

        align-items: center;
      }
      .legend-box {
        width: 25px;
        height: 25px;
        

        display: inline-flex;
        /* 上下align-items,左右justify-content */
        align-items: center;
        justify-content: center;

        border-radius: 6px;

        margin-right: 8px;

        border: 2px solid #666;
      }
      .selected-box {
        background: #4a90e2;
      }

      .available-box {
        background: white;
      }

      .sold-box {
        background: #ff5c8a;
      }

      .seat-map {
        width: fit-content;
        margin: 0 auto;
      }
      /* 每一排 */

      .seat-row {

        display: flex;

        align-items: center;

        margin-bottom: 10px;
      }
      /* 左右排號 */

      .row-label {

        width: 30px;

        font-weight: bold;

        font-size: 22px;

        color: #666;
      }

      /* 座位 */

      .seat {

        width: 40px;
        height: 40px;

        border: 2px solid #666;

        border-radius: 6px;

        background: white;

        margin-right: 6px;

        display: flex;

        align-items: center;

        justify-content: center;

        cursor: pointer;

        font-size: 16px;

        transition: 0.2s;
      }

      .seat:hover {
        background: #ddd;
      }

      /* 狀態 */

      .seat.selected {
        background: #4a90e2;
        color: white;
      }

      .seat.sold {
        background: #ff5c8a;
      }

      .seat.wheelchair {
        border-color: blue;
      }

      /* 走道 */

      .aisleAfter4 {
        margin-right: 90px;
      }

      .aisleAfter16 {
        margin-right: 90px;
      }

      .seat:hover {
        background: #ddd;
      }
      .remaining-seat-box {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        box-shadow: 0 3px 8px rgba(0,0,0,.25);
        background: #f5bf18;
        color: #1f1f1f;
        padding: 8px 14px;
        border-radius: 6px;
        font-weight: bold;
        margin-right: 310px;
      }
      .remaining-seat-box i {
        font-size: 20px;
      }
      .remaining-label {
        font-size: 18px;
      }
      .remaining-count {
        font-size: 22px;
        font-weight: 700;
      }
      .remaining-unit {
        font-size: 18px;
      }
      .seat-header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        align-items: baseline;
      }
      /* =================================================================Step2 E============================================================= */
      /* =================================================================Step3 S============================================================= */
      .checkout-section {
        width: 70%;
        max-width: 1100px;
        margin: 80px auto;
        color: white;
      }
      .checkout-section .section-titleⅢ {
        margin: 0 0 70px 0;
      }
      .checkout-form {
        margin-top: 15px;
      }
      .checkout-form h3 {
        font-size: 18px;
        margin: 30px 0 18px;  
        color: white;
      }
      .form-row {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 24px;
      }
      .invoice-row {
        grid-template-columns: repeat(3,1fr);
      }
      .form-group label {
        display: block;
        margin-bottom: 8px;
        color: #ffd000;
        font-size: 15px;
        font-weight: bold;
      }
      .form-group input,
      .form-group select {
        width: 100%;
        height: 46px;
        box-sizing: border-box;
        background: #3a3a3a;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 0 14px;
        margin-bottom: 24px;
        outline: none;
      }
      .form-group input:focus,
      .form-group select:focus{
        border: 1px solid white;
        box-shadow: 0 0 0 2px rgba(255, 208, 0, 0.2);
      }
      .invoice-note {
        align-items: flex-start;
        display: flex;
        gap: 12px;
        color: #ddd;
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .invoice-note i {
        color: #a6ce39;
        font-size: 22px;
        margin-top: 3px;
      }
      .invoice-note {
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .agree-row {
        width: 70%;
        max-width: 1100px;
        margin: 36px 0 0 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
        font-size: 16px;
        color: white;
      }
      .agree-row input {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
      /* =================================================================Step3 E============================================================= */
      /* ==============================================  預覽座位 S =========================================================================== */
      .section-titleⅠ {
        margin-bottom: 35px;

      }
      .title-enⅠ {
        display: flex;
        align-items: center;
        gap:10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
      .blue-dotⅠ {
        width: 6px;
        height: 6px;
        background: #5c76eb;
        border-radius: 50%;
        display: inline-block;
      }
      .title-zhⅠ {
        margin-left: 16px;
        margin-top: 8px;
        color: #5c76eb;
        font-size: 24px;
        font-weight: bold;
      }
      .seat-preview-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: center;
        align-items:center;
        z-index: 9999;
      }

      .seat-preview-box {
        width: 1200px;
        max-height: 90vh;
        overflow-y: auto;
        background: #252525;
        color: white;
        border-radius: 16px;
        padding: 30px;
      }

      .seat-preview-box .seat {
        color:black;
      }
      .seat-preview-box .screen {
        width: 750px;
        margin: 30px auto 40px;
        color: #000;
      }

      .preview-btn {
        width: 180px;
        height: 58px;
        margin: 35px;
        border: 1px solid #2b8cff;
        background: transparent;
        color: white;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        transition: .25s;
        cursor: pointer;
      }

      .preview-btn:hover {
         background:#2b8cff;
         transform: translateY(-2px);
         box-shadow:0 6px 18px rgba(43,140,255,.35);
         color:white;
      }

      .buy-btn {
        width: 180px;
        height: 58px;
        margin: 35px;
        border: 1px solid  #5f9fd6;;
        background: transparent;
        color: white;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        transition: .25s;
        cursor: pointer;
      }

      .buy-btn:hover {
         background: #5f9fd6;;
         transform: translateY(-2px);
         box-shadow:0 6px 18px rgba(43,140,255,.35);
         color:white;
      }

      .preview-actions {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      }
      /* ==============================================  預覽座位 E ======================================================================= */
