<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <title>電影訂票流程</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <!-- Swiper 官方 CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./autocomplete.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="hero">
        <div class="navbar">
          <h1 class="navbar-logo" @click="goHome">MovieDay</h1>
          <div class="navlinks">
            <a href="#" @click.prevent="goSession">線上訂票</a>
            <!-- <a href="#" @click.prevent="goMovieIntroduction">電影介紹</a> -->
            <div class="nav-dropdown">
              <a href="#" class="nav-dropdown-title">電影介紹</a>
              <div class="nav-dropdown-menu">
                <a href="#" @click.prevent="goMovieIntroduction">現在熱映</a>
                <!-- <a href="#" @click.prevent=".....">近期上映</a> -->
              </div>
            </div>
            <a href="#" @click.prevent="goNews">最新消息</a>
            <a href="#" @click.prevent="goAbout">關於影城</a>
          </div>
        </div>
      </div>
      <!-- 官網首頁 -->
      <div v-if="currentPage === 'home'" class="home-page">
        <!-- 第一組：活動 Banner 輪播 -->
        <div class="swiper movie-swiper">
          <div class="swiper-wrapper">
            <!-- 第一張 -->
            <div class="swiper-slide">
              <img src="./images/banner-1.png" alt="MovieDay 活動宣傳" />
            </div>
            <!-- 第二張 -->
            <div class="swiper-slide">
              <img src="./images/banner-2.png" alt="MovieDay 最新消息" />
            </div>
            <!-- 第三張 -->
            <div class="swiper-slide">
              <img src="./images/banner-3.png" alt="MovieDay 活動特價" />
            </div>
            <!-- 第四張 -->
            <div class="swiper-slide">
              <img src="./images/banner-4.png" alt="MovieDay 活動特價" />
            </div>
            <!-- 第五張 -->
            <div class="swiper-slide">
              <img src="./images/banner-5.png" alt="MovieDay 防詐宣導" />
            </div>
          </div>
          <!-- Swiper 自動產生圓點的位置 -->
          <div class="swiper-pagination"></div>
        </div>
        <!-- 標題 -->
        <div class="syoukai-title">
          <div class="syoukai-en">
            <span class="red-dot"></span>
            <span>NOW SHOWING</span>
          </div>
          <div class="syoukai-zh">現在熱映</div>
        </div>
        <!-- 第二組：電影海報輪播 -->
        <div class="swiper poster-swiper">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              v-for="session in sessions"
              :key="session.id"
              @click="goMovieDetail(session)"
            >
              <div class="poster-card">
                <!-- Alternative Text（替代文字）=>  如果圖片不能顯示，就顯示這段文字。 -->
                <img
                  :src="session.poster"
                  :alt="session.movieName"
                  class="home-movie-poster"
                />

                <h3>{{ session.movieName }}</h3>
                <p class="home-movie-english">{{ session.englishName }}</p>

                <!-- Vue動態綁定getRatingClass(Js.) -->
                <span
                  class="home-rating"
                  :class="getRatingClass(session.rating)"
                  >{{ session.rating }}</span
                >

                <p class="home-release-date">上映日期 {{ session.date }}</p>
              </div>
            </div>
          </div>
          <div class="poster-pagination"></div>
        </div>
        <div class="home-movie-action">
          <button type="button" @click="goSession">查看電影場次</button>
        </div>
      </div>
      <!-- 電影介紹 S -->
      <div
        v-if="currentPage === 'movieIntroduction'"
        class="movie-introduction-page"
      >
        <div class="movie-introduction-container">
          <div class="movie-introduction-title">
            <div class="movie-introduction-title-en">
              <span class="red-dot"></span>
              <span>NOW SHOWING</span>
            </div>
            <div class="movie-introduction-title-zh">現在熱映</div>
          </div>

          <!-- 電影列表 -->
          <div class="movie-introduction-list">
            <div
              class="movie-introduction-card"
              v-for="session in sessions"
              :key="session.id"
              @click="goMovieDetail(session)"
            >
              <!-- 電影海報 -->
              <img
                :src="session.poster"
                :alt="session.movieName"
                class="movie-introduction-poster"
              />
              <!-- 中文片名 -->
              <h3>{{ session.movieName }}</h3>
              <!-- 英文片名 -->
              <p class="movie-introduction-english">
                {{ session.englishName }}
              </p>
              <!-- 電影分級 -->
              <span
                class="movie-introduction-rating"
                :class="getRatingClass(session.rating)"
                >{{ session.rating }}</span
              >
              <!-- 上映日期 -->
              <p class="movie-introduction-date">{{ session.date }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 電影介紹 E -->
      <!-- ======================================MovieDetail S=====================================================-->
      <!-- 電影明細 S -->
      <div
        v-if="currentPage === 'movieDetail' && selectedMovie"
        class="movie-detail-page"
      >
        <div class="movie-detail-container">
          <!-- 上半部 -->
          <div class="movie-detail-top">
            <!-- 左邊海報 -->
            <div class="movie-detail-poster-area">
              <img
                :src="selectedMovie.poster"
                :alt="selectedMovie.movieName"
                class="movie-detail-poster"
              />
            </div>
            <!-- 右邊資料 -->
            <div class="movie-detail-info">
              <span
                class="movie-detail-rating"
                :class="getRatingClass(selectedMovie.rating)"
              >
                {{ selectedMovie.rating }}
              </span>
              <h2>{{ selectedMovie.movieName }}</h2>
              <p class="movie-detail-english">
                {{ selectedMovie.englishName }}
              </p>
              <p class="movie-detail-release">
                上映日期 {{ selectedMovie.date}}
              </p>
              <button
                type="button"
                class="movie-detail-buy-btn"
                @click="goSession"
              >
                <i class="fa-solid fa-ticket"></i>
                前往訂票
              </button>
              <div class="movie-detail-meta">
                <p>
                  <strong>導演 ｜</strong>
                  {{ selectedMovie.director }}
                </p>
                <p>
                  <strong>導演 ｜</strong>
                  {{ selectedMovie.actors }}
                </p>
                <p>
                  <strong>類型 ｜</strong>
                  {{ selectedMovie.genre }}
                </p>
                <p>
                  <strong>片長 ｜</strong>
                  {{ selectedMovie.duration }}
                </p>
              </div>
            </div>
          </div>
          <!-- 電影介紹 -->
          <div class="movie-detail-description">
            <h3>電影介紹 ｜</h3>
            <p>{{ selectedMovie.description }}</p>
          </div>
          <!-- 預告片 -->
          <div class="movie-detail-trailer">
            <!-- <iframe>網頁裡嵌入另一個網頁或外部內容。 -->
            <!-- allowfullscreen => 允許這個 iframe 裡面的影片使用全螢幕。 -->
            <iframe
              :src="selectedMovie.trailer"
              title="電影預告"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
      <!-- 電影明細 E -->
      <!-- ======================================MovieDetail E=====================================================-->
      <!-- ======================================News S============================================================-->
      <!-- 最新消息 S -->
      <div v-if="currentPage === 'news'" class="news-page">
        <div class="news-container">
          <!-- 標題 -->
          <div class="news-title">
            <div class="news-title-en">
              <span class="red-dot"></span>
              <span>SPECIAL EVENT</span>
            </div>
            <div class="news-title-zh">影城活動</div>
          </div>

          <!-- 活動列表 -->
          <div class="news-list">
            <div
              class="news-card"
              v-for="news in newsItems"
              :key="news.id"
              @click="goNewsDetail(news)"
            >
              <img :src="news.images" :alt="news.title" class="news-image" />
              <h3>{{ news.title }}</h3>
              <p class="news-date">{{ news.date }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 最新消息 E -->
      <!-- ======================================News E============================================================-->
      <!-- ======================================NewsDetail S======================================================-->
      <!-- 活動資訊 S -->
      <div
        v-if="currentPage === 'newsDetail' && selectedNews"
        class="news-detail-page"
      >
        <div class="news-detail-container">
          <!-- 上方 -->
          <div class="news-detail-header">
            <button @click="goNews">回上頁列表</button>
            <span>{{ selectedNews.date }}</span>
          </div>

          <!-- 下方左右排版 -->
          <div class="news-detail-content">
            <div class="news-detail-image-area">
              <img
                :src="selectedNews.images"
                :alt="selectedNews.title"
                class="news-detail-image"
              />
            </div>

            <!-- 右邊文字 -->
            <div class="news-detail-info">
              <h2>{{ selectedNews.title }}</h2>

              <div class="news-detail-line"></div>

              <p>{{ selectedNews.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 活動資訊 E -->
      <!-- ======================================NewsDetail E======================================================-->
      <!-- ======================================currentSession Start==============================================-->
      <!-- 場次頁面 -->
      <div v-if="currentPage === 'session'" class="session-section">
        <div class="section-title">
          <div class="title-en">
            <span class="red-dot"></span>
            <span>SESSION TIMES</span>
          </div>
          <div class="title-zh">場次資訊</div>
        </div>
        <!-- 電影場次卡片 -->
        <div class="session-card" v-for="session in sessions" :key="session.id">
          <div class="card-content">
            <!-- 左邊:電影海報 -->
            <div class="poster-area">
              <img :src="session.poster" class="movie-poster" />
            </div>
            <!--中間: 電影資訊 -->
            <div class="movie-info">
              <div class="rating-badge" :class="getRatingClass(session.rating)">
                {{ session.rating }}
              </div>
              <h2>{{ session.movieName }}</h2>
              <p>{{ session.englishName }}</p>
              <p>上映日期：{{ session.date }}</p>
              <p>導演：{{ session.director }}</p>
              <p>片長：{{ session.duration }}</p>
              <!-- <p>分級：{{ session.rating }}</p> -->
              <p>影城: {{ session.cinema}}</p>
              <p>{{ session.language }}</p>
            </div>
            <!-- 右邊:場次 -->
            <div class="time-area">
              <!-- 日期選擇區塊 -->
              <div class="date-selector">
                <button
                  v-for="date in availableDates"
                  :key="date.value"
                  type="button"
                  class="date-button"
                  :class="{ active: selectedDate === date.value }"
                  @click="selectDate(date)"
                >
                  <span class="date-weekday">{{ date.weekday }}</span>
                  <strong class="date-value">{{ date.displayDate }}</strong>
                </button>
              </div>
              <div
                class="format-block"
                v-for="format in session.formats"
                :key="format.language"
              >
                <p class="language-text">{{ format.language }}</p>
                <!-- isPastTime在判斷選擇的時間是不是過期如果回傳是true就顯示expired的效果 -->
                <!-- isPastTime(time)的值就是場次時間，最後會拿去塞setHours -->
                <button
                  class="time-btn"
                  v-for="time in format.times"
                  :key="time"
                  :disabled="isPastTime(time)"
                  :class="{
                    active:
                    bookingInfo.movieName === session.movieName &&
                    bookingInfo.language === format.language &&
                    bookingInfo.time === time,

                    expired: isPastTime(time)
                  }"
                  @click="selectSession(session,format,time)"
                >
                  {{ time }}
                </button>
              </div>
              <div class="preview-actions">
                <button class="preview-btn" @click="openSeatPreview">
                  QUICK VIEW<br />
                  預覽座位
                </button>
                <button class="buy-btn" @click="goTicketStep(session)">
                  BUY TICKET<br />
                  前往訂票
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===================================== currentSession End ============================================== -->
      <div v-if="currentPage === 'booking'">
        <!--公用StepBar-->
        <!-- ===================================================================================================== -->
        <div class="step-bar" v-if="currentPage === 'booking'">
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 1, completed: currentStep > 1 }"
          >
            <span>{{ currentStep > 1 ? "✓" : "1" }}</span>
            <p>選擇票種</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 2, completed: currentStep > 2 }"
          >
            <span>{{ currentStep > 2 ? "✓" : "2" }}</span>
            <p>選擇座位</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 3, completed: currentStep > 3 }"
          >
            <span>{{ currentStep > 3 ? "✓" : "3" }}</span>
            <p>訂單與付款</p>
          </div>
          <div class="step-line"></div>
          <div
            class="step-item"
            :class="{ active: currentStep === 4, completed: currentStep > 4 }"
          >
            <span>{{ currentStep > 4 ? "✓" : "4" }}</span>
            <p>{{ paymentCompleted ? "訂單完成" : "確認付款"}}</p>
          </div>
        </div>
        <!-- ===================================================================================================== -->
        <div class="section-titleⅡ">
          <div class="title-enⅡ">
            <span class="orange-dotⅡ"></span>
            <span>ONLINE TICKET</span>
          </div>
          <div class="title-zhⅡ">
            {{ paymentCompleted ? "訂單完成" : "選擇票種" }}
          </div>
        </div>
        <!--公用BookingTop-->
        <div class="booking-top">
          <div class="booking-poster-area">
            <img :src="bookingInfo.poster" class="booking-poster" />
          </div>

          <div class="booking-info-area">
            <div class="movie-title-block">
              <h2>{{ bookingInfo.movieName}}</h2>
              <p>{{ bookingInfo.englishName }}</p>
            </div>
            <div class="booking-detail-grid">
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <span>影城: {{ bookingInfo.cinema }}</span>
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-calendar-days"></i>
                </span>
                <span
                  >日期：{{ bookingInfo.date }} {{ bookingInfo.weekday }}</span
                >
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-video"></i>
                </span>
                <span class="time-tag">{{ bookingInfo.time }}</span>
                <span>{{ bookingInfo.language }}</span>
              </div>
              <div class="booking-detail-item">
                <span class="detail-icon">
                  <i class="fa-solid fa-couch"></i>
                </span>
                <span v-if="selectedSeats.length === 0">請先選擇座位</span>
                <span v-else>{{ selectSeatText }}</span>
              </div>
            </div>
          </div>

          <div class="order-summary">
            <div class="summary-detail-item">
              <span class="summary-icon">
                <i class="fa-solid fa-ticket-simple"></i>
              </span>
              <span>ORDER SUMMARY</span>
            </div>

            <div class="summary-list">
              <div
                class="summary-row"
                v-for="ticket in selectTickets"
                :key="ticket.name"
              >
                <span>{{ ticket.name }}</span>
                <span>X</span>
                <span>{{ ticket.count }}</span>
                <span>=</span>
                <span>NT$ {{ ticket.price * ticket.count }}</span>
              </div>

              <div class="summary-ticket-row" v-if="totalTicketCount > 0">
                <span>網路訂票手續費</span>
                <span>X</span>
                <span>{{ totalTicketCount }}</span>
                <span>=</span>
                <span>NT$ {{ serviceFee }}</span>
              </div>
            </div>

            <div class="summary-total">
              <span>TICKETS TOTAL :</span>
              <span>NT$ {{ finalTotalPrice }}</span>
            </div>
          </div>
        </div>
        <!-- ======================================currentStep1 S===================================================-->
        <div v-if="currentStep === 1" class="ticket-session">
          <div class="ticket-layout">
            <div class="section-titleⅢ">
              <div class="title-enⅢ">
                <span class="blue-dotⅢ"></span>
                <span>CHOOSE YOUR TICKET</span>
              </div>
              <div class="title-zhⅢ">請選擇票種與張數</div>
            </div>

            <div class="ticket-select-area">
              <div class="ticket-left">
                <div class="ticket-category">
                  <!-- 藍色 -->
                  <div class="ticket-headerⅠ">
                    <i class="fa-solid fa-ticket"></i>
                    優惠套票
                  </div>
                  <!-- 灰色 -->
                  <div class="ticket-table">
                    <!-- 深灰 -->
                    <div class="ticket-table-head">
                      <span>票種</span>
                      <span>單價</span>
                      <span>數量</span>
                      <span>小計</span>
                    </div>

                    <div
                      class="ticket-row"
                      v-for="ticket in packageTicket"
                      :key="ticket.name"
                    >
                      <span class="ticket-name">{{ ticket.name }}</span>
                      <span class="ticket-price">NT$ {{ ticket.price }}</span>
                      <button
                        class="ticket-btn"
                        @click="decreaseTicket(ticket)"
                      >
                        －
                      </button>
                      <span class="ticket-count">{{ ticket.count }}</span>
                      <button
                        class="ticket-btn-plus"
                        @click="increaseTicket(ticket)"
                      >
                        ＋
                      </button>
                      <span class="ticket-subtotal"
                        >NT$ {{ ticket.price * ticket.count}}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="ticket-category">
                  <!-- 藍色 -->
                  <div class="ticket-header">
                    <i class="fa-solid fa-ticket"></i>
                    一般票種
                  </div>
                  <!-- 灰色 -->
                  <div class="ticket-table">
                    <!-- 深灰 -->
                    <div class="ticket-table-head">
                      <span>票種</span>
                      <span>單價</span>
                      <span>數量</span>
                      <span>小計</span>
                    </div>

                    <div
                      class="ticket-row"
                      v-for="ticket in tickets"
                      :key="ticket.name"
                    >
                      <span class="ticket-name">{{ ticket.name }}</span>
                      <span class="ticket-price">NT$ {{ ticket.price }}</span>
                      <button
                        class="ticket-btn"
                        @click="decreaseTicket(ticket)"
                      >
                        －
                      </button>
                      <span class="ticket-count">{{ ticket.count }}</span>
                      <button
                        class="ticket-btn-plus"
                        @click="increaseTicket(ticket)"
                      >
                        ＋
                      </button>
                      <span class="ticket-subtotal"
                        >NT$ {{ ticket.price * ticket.count}}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="ticket-notice">
                <div class="notice-title">
                  <i class="fa-solid fa-circle-exclamation"></i>
                </div>

                <ol class="notice-list">
                  <li>未滿 2 歲且不佔位之兒童無需購票，可免費入場觀賞。</li>
                  <li>
                    若交易內含餐飲品項，須至購票影城櫃檯領取電影票與餐點。
                  </li>
                  <li>網路訂票每張票需加收 NT$20 手續費。</li>
                  <li>片長 150 分鐘以上之電影需加價 NT$20。</li>
                  <li>
                    為維護顧客權益，惡意佔位或影響他人正常訂位使用者，影城保有取消訂位之權利。
                  </li>
                </ol>
              </div>
            </div>
            <div class="ticket-actions">
              <button class="back-btn" @click="currentPage = 'session'">
                ← BACK
              </button>

              <button class="next-btn" @click="goSeatStep">NEXT →</button>
            </div>
          </div>
          <!-- ======================================currentStep1 E===================================================-->
        </div>
        <!-- ======================================currentStep2 S====================================================== -->
        <div v-if="currentStep === 2" class="ticket-session">
          <div class="seat-header">
            <div class="section-titleⅢ">
              <div class="title-enⅢ">
                <span class="blue-dotⅢ"></span>
                <span>SELECT SEATS</span>
              </div>
              <div class="title-zhⅢ">請選擇座位</div>
            </div>
            <div class="remaining-seat-box">
              <i class="fa-regular fa-circle-check"></i>
              <span class="remaining-label">待選座位數</span>
              <span class="remaining-count"> {{ remainingSeatCount }} </span>
              <span class="remaining-unit">位</span>
            </div>
          </div>
          <div class="seat-map-container">
            <div class="legend">
              <div><span class="legend-box selected-box"></span>您的座位</div>
              <div><span class="legend-box available-box"></span>可選</div>
              <div>
                <span class="legend-box wheelchair-box">♿</span
                >輪椅座(需至影城購買)
              </div>
              <div><span class="legend-box sold-box"></span>已售</div>
            </div>
            <!-- ⭐ 銀幕 -->
            <div class="screen">銀幕 Screen</div>

            <div class="booking-layout">
              <!-- ⭐ 座位區 -->
              <div class="seat-map">
                <div class="seat-row" v-for="row in seatRows" :key="row">
                  <div class="row-label">{{ row }}</div>

                  <div
                    class="seat"
                    v-for="seat in getSeatsByRow(row)"
                    :key="seat.id"
                    :class="[
                  seat.status,
                  { aisleAfter4: seat.number === 4, aisleAfter16: seat.number === 16 }
                ]"
                    @click="clickSeat(seat)"
                  >
                    <!-- 在js有判斷座位狀態對應的錯誤訊息 -->
                    <span v-if="seat.status === 'wheelchair'">♿</span>
                    <span v-else>{{ seat.number }}</span>
                  </div>

                  <div class="row-label">{{ row }}</div>
                </div>
              </div>
            </div>
            <div class="ticket-actions">
              <button class="back-btn" @click="currentStep = 1">← BACK</button>

              <button class="next-btn" @click="goFoodStep">NEXT →</button>
            </div>
          </div>
          <!-- ======================================currentStep2 E======================================================== -->
        </div>
        <!-- ========================================currentStep3 S========================================================= -->

        <div v-if="currentStep === 3">
          <div class="section-titleⅣ">
            <div class="title-enⅣ">
              <span class="blue-dotⅣ"></span>
              <span>CHECK INFORMATION</span>
            </div>
            <div class="title-zhⅣ">請確認購票人資訊</div>
          </div>
          <div class="checkout-section">
            <div class="checkout-form">
              <h3>請確認購票資訊:</h3>

              <div class="form-row">
                <div class="form-group">
                  <label>會員姓名</label>
                  <input type="text" v-model="buyer.name" />
                </div>

                <div class="form-group">
                  <label>手機號碼</label>
                  <input type="text" v-model="buyer.phone" />
                </div>

                <div class="form-group">
                  <label>電子信箱</label>
                  <input type="text" v-model="buyer.email" />
                </div>
              </div>
              <h3>請選擇電子發票開立方式:</h3>
              <p class="invoice-note">
                <i class="fa-solid fa-circle-info"></i>
                電影票票價內含娛樂稅，不另開統一發票。訂單含餐點之套餐，餐點部分統一發票將由影城於取票時一併交付；平台手續費將另行開立電子發票。
              </p>

              <div class="form-row invoice-row">
                <div class="form-group">
                  <label>電子發票處理方式</label>
                  <select v-model="invoice.type">
                    <option value="cloud">雲端發票</option>
                    <option value="company">公司統編</option>
                  </select>
                </div>

                <div class="form-group" v-if="invoice.type === 'cloud'">
                  <label>請選擇載具類型</label>
                  <select v-model="invoice.carrier">
                    <option value="member">
                      會員載具(中獎發票將寄至電子信箱)
                    </option>
                    <option value="mobile">手機條碼</option>
                  </select>
                </div>
                <div
                  class="form-group"
                  v-if="invoice.type === 'cloud' && invoice.carrier === 'mobile'"
                >
                  <label>請輸入您的手機條碼</label>
                  <input
                    type="text"
                    v-model="invoice.mobileBarcode"
                    placeholder="/+7個字元"
                  />
                </div>

                <div class="form-group" v-if="invoice.type === 'company'">
                  <label>發票抬頭</label>
                  <input
                    type="text"
                    v-model="invoice.companyName"
                    placeholder="公司抬頭名稱"
                  />
                </div>
                <div class="form-group" v-if="invoice.type === 'company'">
                  <label>統一編號</label>
                  <input
                    type="text"
                    v-model="invoice.companyTaxId"
                    placeholder="統一編號"
                  />
                </div>
              </div>
              <label class="agree-row">
                <input type="checkbox" v-model="agreeTerms" />
                <span>我已經閱讀並同意 線上訂票須知 及 電影分級制度說明</span>
              </label>
              <div class="ticket-actions">
                <button class="back-btn" @click="currentStep = 2">
                  ← BACK
                </button>

                <button class="next-btn" @click="checkoutOrder">
                  CHECKOUT
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="box" ref="searchBox">
            <input
              type="text"
              v-model="keyword"
              @input="search"
              placeholder="請輸入餐點名稱"
              style="width: 100%; padding: 8px"
            />
            <div class="list" v-if="showList && results.length > 0">
              <div
                class="item"
                v-for="item in results"
                :key="item.id"
                @click="select(item)"
              >
                <div class="food-name">{{ item.name }}</div>
                <div class="food-category">{{ item.category }}</div>
                <div class="food-description">{{ item.description }}</div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- ===========================================currentStep3 E=========================================================== -->
        <!-- ===========================================currentStep4 S=========================================================== -->
        <div v-if="currentStep === 4">
          <div v-if="!paymentCompleted">
            <div class="section-titleⅣ">
              <div class="title-enⅣ">
                <span class="blue-dotⅣ"></span>
                <span>PAYMENT INFORMATION</span>
              </div>
              <div class="title-zhⅣ">付款資訊</div>
            </div>
            <div class="checkout-section">
              <div class="payment-card">
                <div class="payment-title">
                  <span class="orange-dotⅡ"></span>
                  PAYMENT INFORMATION
                </div>
                <div class="payment-content">
                  <div class="payment-group">
                    <label>付款方式</label>
                    <label class="payment-radio">
                      <input
                        type="radio"
                        value="credit"
                        v-model="payment.method"
                      />信用卡
                    </label>
                    <label class="payment-radio">
                      <input
                        type="radio"
                        value="linepay"
                        v-model="payment.method"
                      />LINE Pay
                    </label>
                  </div>
                  <div v-if="payment.method === 'credit'">
                    <div class="payment-group payment-card-number">
                      <label>信用卡號</label>
                      <!-- blur:失去焦點
                         focus:取得焦點
                         inputmode="numeric" => 在告訴瀏覽器希望輸入數字 
                    -->
                      <label class="card-input-wrapper">
                        <input
                          type="text"
                          v-model="payment.cardNumber"
                          @input="formatCardNumber"
                          @blur="maskCardNumber"
                          @focus="showCardNumber"
                          maxlength="19"
                          inputmode="numeric"
                          placeholder="0000 0000 0000 0000"
                        />
                        <img
                          v-if="payment.cardType === 'VISA'"
                          src="https://cdn.jsdelivr.net/npm/payment-icons@1.2.1/min/flat/visa.svg"
                          class="card-logo"
                          alt="VISA"
                        />
                        <img
                          v-else-if="payment.cardType === 'Mastercard'"
                          src="https://cdn.jsdelivr.net/npm/payment-icons@1.2.1/min/flat/mastercard.svg"
                          class="card-logo"
                          alt="Mastercard"
                        />
                        <img
                          v-else-if="payment.cardType === 'JCB'"
                          src="https://cdn.jsdelivr.net/npm/payment-icons@1.2.1/min/flat/jcb.svg"
                          class="card-logo"
                          alt="JCB"
                        />
                      </label>
                    </div>
                    <div class="payment-group payment-holder">
                      <label>持卡人姓名</label>
                      <input
                        type="text"
                        v-model="payment.cardholderName"
                        placeholder="請輸入持卡人姓名"
                      />
                    </div>
                    <div class="payment-row">
                      <div class="payment-group">
                        <label>有效月份</label>
                        <input
                          type="text"
                          v-model="payment.expMonth"
                          maxlength="2"
                          inputmode="numeric"
                          placeholder="MM"
                        />
                      </div>
                      <div class="payment-group">
                        <label>有效年分</label>
                        <input
                          type="text"
                          v-model="payment.expYear"
                          maxlength="2"
                          inputmode="numeric"
                          placeholder="YY"
                        />
                      </div>
                      <div class="payment-group">
                        <label>CVV</label>
                        <input
                          type="password"
                          v-model="payment.cvv"
                          maxlength="3"
                          inputmode="numeric"
                          placeholder="123"
                        />
                      </div>
                    </div>
                  </div>
                  <div v-if="payment.method === 'linepay'" class="linepay-info">
                    付款時模擬導向LINE Pay
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-action">
              <button class="back-btn" @click="currentStep = 3">← BACK</button>

              <button class="next-btn" @click="confirmPayment">確認付款</button>
            </div>
          </div>
          <div v-else class="payment-success">
            <h2>訂單完成</h2>

            <p>付款成功，座位已為您保留</p>

            <div class="success-detail">
              <h2>付款成功🎉🎉🎉</h2>
              <p>付款狀態 : 已付款</p>
              <p>訂單編號 : {{ orderNo }}</p>
              <p>電子票券將寄送至 : {{ buyer.email }}</p>
            </div>

            <button @click="goMovieList">返回首頁</button>
          </div>
        </div>

        <!-- ===========================================currentStep4 E=========================================================== -->
        <!-- ===========================================modal-overlay S=========================================================== -->
        <div v-if="showModal" class="modal-overlay">
          <div class="modal-box">
            <div class="modal-icon" :class="modalType">
              {{ modalType === 'success' ? '✓' : '✖' }}
            </div>
            <h2>提醒您</h2>
            <p>{{ modalMessage }}</p>
            <button class="modal-btn" @click="closeModal">OK</button>
          </div>
        </div>
      </div>
      <!-- ===========================================modal-overlay E=========================================================== -->
      <!-- ======================================先讓 Modal 能跳出來 S=========================================================== -->
      <div v-if="showSeatPreview" class="seat-preview-overlay">
        <div class="seat-preview-box">
          <div class="section-titleⅠ">
            <div class="title-enⅠ">
              <span class="blue-dotⅠ"></span>
              <span>QUICK VIEW</span>
            </div>
            <div class="title-zhⅠ">座位預覽</div>
          </div>

          <div class="legend">
            <div><span class="legend-box available-box"></span>可選</div>
            <div>
              <span class="legend-box wheelchair-box">♿</span
              >輪椅座(需至影城購買)
            </div>
            <div><span class="legend-box sold-box"></span>已售</div>
          </div>
          <!-- ⭐ 銀幕 -->
          <div class="screen">銀幕 Screen</div>
          <div class="seat-map preview-seat-map">
            <div class="seat-row" v-for="row in seatRows" :key="row">
              <div class="row-label">{{ row }}</div>

              <div
                class="seat"
                v-for="seat in getSeatsByRow(row)"
                :key="seat.id"
                :class="[
                  seat.status,
                  { aisleAfter4: seat.number === 4, aisleAfter16: seat.number === 16 }
                ]"
              >
                <span v-if="seat.status === 'wheelchair'">♿</span>
                <span v-else>{{ seat.number }}</span>
              </div>

              <div class="row-label">{{ row }}</div>
            </div>
          </div>

          <button class="modal-btn" @click="closeSeatPreview">關閉</button>
        </div>
      </div>

      <!-- ======================================先讓 Modal 能跳出來 E============================================ -->
    </div>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@14.0.1/swiper-bundle.min.js"></script>
    <script src="./autocomplete.js"></script>
  </body>
</html>
